<div class="container" style="margin-top: 100px;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group my-2">
        <label for="name">Name</label>
        <input type="text" class="form-control" [(ngModel)]="character.name" required>
      </div>
      <div class="form-group my-2">
        <label for="gender">Gender</label>
        <input type="text" class="form-control" [(ngModel)]="personaje.gender" required>
      </div>
      <div class="form-group my-2">
        <label for="species">Species</label>
        <input type="text" class="form-control" [(ngModel)]="personaje.species" required>
      </div>
      <div class="form-group my-2">
        <label for="origin">Origin</label>
        <input type="text" class="form-control" [(ngModel)]="personaje.origin" required>
      </div>
      <div class="form-group my-2">
        <label for="image">Image</label>
        <input type="text" class="form-control" [(ngModel)]="personaje.image" required>
      </div>

      <button (click)="saveCharacters()" class="btn btn-success mt-3">Submit</button>
    </div>
    <div *ngIf="submitted">
      <h4>Character added correctly</h4>
      <button (click)="newCharacter()" class="btn btn-success">Add</button>
    </div>
  </div>
</div>
